		<div id='footer'>
			{{site.full_name}} by <a href="http://veronica.brandt.id.au">Veronica Brandt</a> - {{site.copyright_year}}
		</div>
	</div>
	{% include googleana.html %}
<script type="text/javascript" src="//downloads.mailchimp.com/js/signup-forms/popup/embed.js" data-dojo-config="usePlainJson: true, isDebug: false"></script><script type="text/javascript">require(["mojo/signup-forms/Loader"], function(L) { L.start({"baseUrl":"mc.us3.list-manage.com","uuid":"53762610cb15815b27bf2f195","lid":"b5aded30c7"}) })</script>
</body>
</html>
